@media screen and (max-width:575px){
    /* nav style  */
    nav{
        margin: 0px 40px;
     }
    .nav-menu{
        display: none;
        flex-direction: column;
        gap:20px;
        position: absolute;
        top:60px;
        left:0;
        right:0;
        background-color: orange;
        padding:20px;
    }
    nav ul li a:hover{
        color:black;
    }
    .navBtn{
        display: block;
    }

    #navBox:checked~.nav-menu{
        display: flex;
    }

    /* nav style */

    /* banner style  */
    .banner{
        margin: 0px 50px;
        flex-wrap: wrap;
    }
    .banner-text{
        flex-basis: 100%;
    }
    .banner-text h4{
        font-size:16px;
    }
    .banner-text h2{
        font-size: 30px ;
    }
    .banner-img{
        flex-basis: 100%;
    }
    /* banner style */

    /* about style */
    .about{
        margin: 0 50px;
        flex-wrap: wrap-reverse;
    }
    .about-details{
        flex-basis: 100%;
    }
    .about-details h2{
        font-size: 30px;
    }
    .about-img{
        flex-basis: 100%;
    }
    /* about style */

    /* trainer style */
    .trainer-section{
        margin: 0 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .trainer-details{
        flex-basis: 100%;
    }
    /* trainer style */

    /* service style */
    .service-section{
        margin:0px 50px;
        flex-wrap:wrap;
        justify-content: center;
    }
    .services{
        flex-basis: 100%;
    }
    .service-title{
        font-size: 16px;
    }
    /* service style */

    /* booking style */
    .booking-section{
        margin:0 60px;
    }
    /* booking style */

    /* contact style */
    .contact-section{
        margin:50px 50px;
        flex-wrap: wrap;
    }
    .address{
        flex-basis: 100%;
    }
    .contact-form{
        flex-basis: 100%;
     }
    /* contact style */
}

@media screen and (min-width:576px) and (max-width:767px){
     /* nav style  */
     nav{
        margin: 0px 40px;
     }
    .nav-menu{
        display: none;
        flex-direction: column;
        gap:20px;
        position: absolute;
        top:60px;
        left:0;
        right:0;
        background-color: orange;
        padding:20px;
    }
    nav ul li a:hover{
        color:black;
    }
    .navBtn{
        display: block;
    }

    #navBox:checked~.nav-menu{
        display: flex;
    }
     /* nav style  */

     /* banner style */
    .banner{
        margin: 0px 50px;
        flex-wrap: wrap;
    }
    .banner-text{
        flex-basis: 100%;
       
    }
    .banner-text h2{
        font-size: 40px;
    }
    .banner-img{
        flex-basis: 100%;
    }
      /* banner style */

      /* about style */
    .about{
        margin: 0 50px;
        flex-wrap: wrap-reverse;
    }
    .about-details{
        flex-basis: 100%;
    }
    .about-img{
        flex-basis: 100%;
    }
    /* about style */

    /* trainer style */
    .trainer-section{
        margin: 0 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .trainer-details{
        flex-basis: 40%;
    }
    /* trainer style */

    /* service style */
    .service-section{
        margin:0px 50px;
        flex-wrap:wrap;
        justify-content: center;
    }
    .services{
        flex-basis: 100%;
    }
    .service-title{
        font-size: 16px;
    }
    /* service style */

    /* booking style */
    .booking-section{
        margin:0 60px;
    }
     /* booking style */

     /* contact style */
    .contact-section{
        margin:50px 50px;
        flex-wrap: wrap;
    }
    .address{
        flex-basis: 100%;
    }
    .contact-form{
        flex-basis: 100%;
     }
     /* contact style */
}

@media screen and (min-width:768px) and (max-width:991px){
    /* nav style */
    nav{
        font-size: 12px;
        margin: 0px 60px;
    }
    /* nav style */

    /* banner style */
   .banner{
    margin: 0px 60px;
    }
    .banner-text h4{
        font-size:16px;
    }
    .banner-text h2{
        font-size: 30px ;
    }
    .banner-text p{
       font-size: 14px;
    }
    .banner-img img{
       width:80%;
    }
    /* banner style */

    /* about style */
    .about{
        margin: 0 60px;
    }
    .about-details h2{
        font-size: 30px;
    }
    .about-img img{
        transform: scale(1.15);
    }
    /* about style */

    /* trainer style */
    .trainer-section{
        margin: 0 60px;
    }
    /* trainer style */

    /* service style */
    .service-section{
        margin:0px 60px;
        gap:20px;
        flex-wrap:wrap;
        justify-content: center;
    }
    .services{
        flex-basis: 40%;
    }
    /* service style */

    /* booking style */
    .booking-section{
        margin:0 80px;
    }
    /* booking style */

    /* contact style */
    .contact-section{
        margin:50px 60px;
    }
    /* contact style */
}

@media screen and (min-width:992px) and (max-width:1200px){
    /* nav style */
    nav{
        font-size: 14px;
        margin: 0px 80px;
    }
    .nav-menu{
        gap:20px;
    }
    nav ul li a{
        margin-left: 30px;
    }
    /* nav style */

    /* banner style */
    .banner{
        margin: 0px 80px;
    }
    .banner-text h4{
        font-size:18px;
    }
    .banner-text h2{
        font-size: 40px ;
    }
    .banner-img img{
        width:80%;
     }
     /* banner style */

     /* about style */
    .about{
        margin: 0 80px;
    }
    .about-details h2{
        font-size: 36px;
    }
    /* about style */

    /* trainer style */
    .trainer-section{
        margin: 0 80px;
    }
    /* trainer style */

    /* service style */
    .service-section{
        margin:0px 80px;
    }
    .service-title{
        font-size: 18px;
    }
    .service-details{
        font-size:14px;
    }
    /* service style */

    /* booking style */
    .booking-section{
        margin:0 100px;
    }
    /* booking style */

    /* contact style */
    .contact-section{
        margin:50px 80px;
    }
    /* contact style */
}